@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins;
    margin: 0;
    background-color: #010101;
    color: #eee;
    padding-bottom: 60px;
}

svg {
    width: 25px;
}

header {
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header .logo {
    font-weight: bold;
    color: #542056;
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

/* css slider */
.slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
}

.slider .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 40%, transparent);
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2 {
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active {
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
}

.arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: black;
}

.thumbnail {
    position: absolute;
    bottom: 30px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}

.thumbnail::-webkit-scrollbar {
    width: 0;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active {
    filter: brightness(1.5);
}

.thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

@media screen and (max-width: 678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .arrows {
        top: 10%;
    }
}

@media screen and(max-width:400px) {
    .slider .list .item .content h2 {
    font-size: 40px;
}
}
/* serfing */
.contenar {
    width: 95%;
    max-width: 1500px;
    padding: 30px 0;
    margin: auto;
}

.lin {
    width: 80%;
    height: 3px;
    background-color: #542056;

}

.contenar .heading {
    padding: 30px 20px;
}

.contenar .heading h3 {
    color: #eee;
    font-size: 30px;
    margin: 0;
}

.contenar .heading p {
    color: #c5c5c5;
}

.contenar .contant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.contenar .contant .serf {
    display: flex;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 5px;
    background-color: #542056;
    text-decoration: none;
    color: #eee;
}

.contenar .contant .serf:hover {
    border: 5px solid rgba(0, 0, 0, 0.711);
    background-color: #de5ee2;
    color: #1a0a1a;
}

.contenar .contant .serf .icon {
    font-size: 40px;
    padding: 10px;
}

@media screen and (max-width: 678px) {
    .contenar .contant {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* box contant */

.box .feature {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 95%;
    max-width: 1500px;
    align-items: center;
    margin: auto;

}

.box .right {
    flex-direction: row-reverse;
    text-align: end;
}

.box .feature img {
    width: 100%;
    border-radius: 10px;

}

@media screen and (max-width: 678px) {
    .box .feature {
        display: block;

    }
}



/* contact */
/*start contact*/
.contenar .lin-acwend-soshl {
    width: 100%;
    height: 60px;
    background-color: #934790;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #542056;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    overflow: auto;

}

.contenar .lin-acwend-soshl a {
    text-decoration: none;
    color: #eee;
    font-size: 25px;
    padding: 2px;
}
.contenar .lin-acwend-soshl a:hover{
    color: #000;
    font-size: 26px;
    box-shadow: 2px 2px 3px #eee;
    border-radius:5px 5px 10px 5px;
}
.serving {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.serving .serving-vision form {
    border-radius: 10px;
    display: grid;
    width: 90%;
    background-color: #542056;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #82897ec2;
}

.serving .serving-vision form input {
    font-size: 30px;
    background-color: #E8D4B7;
    border: none;
    box-shadow: 2px 2px 3px #3c263d;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.serving .serving-vision form #message {
    height: 100px;
    text-align: top;
}

.serving .serving-vision form .submit {
    background-color: #6A0066;
    color: #eee;
    width: 100%;
    height: 50px;
}

.serving .serving-vision form .submit:hover {
    background-color: #E8D4B7;
    color: #6A0066;
}

.serving .aphe {
    display: grid;
    gap: 10px;
    align-content: center;
}

.serving .aphe>div {
    display: flex;
    gap: 10px;
    background-color: #542056;
    border-radius: 19px;
    box-shadow: 4px 4px 5px #1a0a1a;
    padding: 20px;
    max-height: 50px;
}

.serving .aphe i {
    font-size: 30px;
}

.serving .aphe h4 {
    margin: 0;
}

.serving .aphe a {
    color: #eee;
    text-decoration: none;
}

.serving .aphe a:hover {
    color: #000;
}

@media(max-width:678px) {
    .serving {
        grid-template-columns: repeat(1, 1fr);
    }
.serving .serving-vision form input {
    font-size: 20px;
}
}

@media(max-width:400px) {
.serving .serving-vision form input {
    font-size: 15px;
}
}
/*end contact*/
/* footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 111;
    height: 40px;
    width: 100%;
    background-color: #542056ac;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 30px;
}

footer div {
    border: 1px solid beige;
    background-color: #000;
    padding: 0 5px;
    border-radius: 10px;
    color: #c5c5c5;
}

footer div a {
    color: #eee;
    text-decoration: none;
}

footer div:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: #E8D4B7;
    color: #000;
}

footer div a:hover {
    color: #000;
}

@media(max-width:400px) {
footer {
    font-size: 20px;
}
}